@use "../utils/vars" as *;
@use "../utils/mixins" as *;

.header {
  padding: 20px 0;
  border-bottom: 1px solid var(--gray-200);
  &__btn {
    margin-left: auto;
  }
  &__nav {
    margin-left: 40px;
  }
}

.header-inner {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav {
  &__item {
    margin-right: 32px;
    @include media(xl) {
      margin-right: 1rem;
    }
    &--count {
      display: flex;
      align-items: center;
    }
  }
  &__count {
    border-radius: 8px;
    background: var(--accent-color);
    color: var(--text-on-accent);
    padding: 5px 12px;
    font-size: 12px;
    display: block;
    margin-left: 12px;
  }
  &__link {
    position: relative;
    overflow: hidden;
    display: block;
    &:hover {
      span {
        transform: translateY(-100%);
        &:last-child {
          transform: translateY(0%);
        }
      }
    }
    span {
      display: block;
      transition: 0.5s;
      white-space: nowrap;
      &:last-child {
        position: absolute;
        transform: translateY(100%);
        left: 0;
        top: 0;
        font-style: italic;
      }
    }
  }
}

.logo {
  width: 46px;
  height: 28px;
  &__src {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
