.btn.btn--arrow(class=`${cClass ? cClass : null}`)
  .btn__inner
    svg.svg-icon(width="24" height="24")
      use(xlink:href="sprite.svg#arrow-r_sprite")
  .btn__inner
    svg.svg-icon(width="24" height="24")
      use(xlink:href="sprite.svg#arrow-r_sprite")
