section.hero-section.container
  .hero( class=cClass ? cClass : null)
    .hero__content(style=`background-image: url(${image})`)
      if locals.back
        a.hero__back-btn.btn.btn--arrow(class=`${cClass ? cClass : null}`)
          .btn__inner
            svg.svg-icon(width="32" height="32")
              use(xlink:href="sprite.svg#arrow-l_sprite")
          .btn__inner
            svg.svg-icon(width="32" height="32")
              use(xlink:href="sprite.svg#arrow-l_sprite")
      h1.hero__title= title
