article.news-item(class= slider ? 'swiper-slide' : null)
  a.news-item__link(href="#") 
    picture.news-item__image 
      source(media="(min-width: )" srcset="")
      img(src="https://via.placeholder.com/675x420" alt="")
    .news-item__info 
      time.news-item__date(datetime="2022-08-26 19:00") 26.08.2022
      h2.news-item__title Brief History of Interfaces: from abacuses to cyberpunk