section.section.section--top-small.container
  .page-desc 
    p The photographer who puts himself and the subject in a car and does not look at that subject — human, animal or natural — but instead looks at a mental image and reassembles it according to a type already seen does not look at the reality and does not interpret and rewrites it creating a new object.
    p He’s just looking inside his own visual memory. Every photo already seen, every already seen composition of the frame, each element arranged in that frame just like.
