@use '../utils/mixins' as *;

.about-slider-wrapper {
  padding-left: var(--gap);
  margin-top: 80px;
  @include media(md) {
    margin-top: 48px;
  }
}

.about-slider {
  &__slide {
    font-size: 80px;
    transition: color 0.5s;
    padding: var(--gap);
   
    @include media(md) {
      font-size: 52px;
    }

    &:not(.swiper-slide-active) {
      color: var(--gray-300);
    }
  }
}

.about-slider-line {
  width: 100%;
  height: 2px;
  background: var(--gray-200);
  &__active-line {
    width: 100%;
    height: 3px;
    background: var(--accent-color);
  }
}

.about-slider-text {
  margin-top: 32px;
  &__content {
    display: flex;
    color: var(--gray-500);
    line-height: 140%;
    @include media(md) {
      flex-direction: column;
    }
    p {
      max-width: 275px;
      margin-right: 40px;
      &:last-child {
        margin: 0;
      }
      @include media(md) {
        margin-bottom: 24px;
        margin-right: 0;
      }
    }
  }
}
