@use '../utils/mixins' as *;

.category {
  margin-bottom: 60px;
  display: flex;
  overflow: auto;
  @include media(md) {
    margin-bottom: 32px;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-right: 12px;
    padding: 17px 32px;
    font-size: 18px;
    flex: 0 0 auto;
    cursor: pointer;
    &:hover & {
      &-count {
        background: var(--background);
      }
    }
    @include media(md) {
      padding: 8px 20px;
      font-size: 18px;
    }
    &:last-child {
      margin: 0;
    }
  }
  &__item-count {
    width: 28px;
    height: 28px;
    background: var(--gray-100);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-500);
    margin-left: 8px;
    border-radius: 50%;
    font-size: 14px;
    transition: .5s;
    position: relative;
    z-index: 2;
  }
}
