@use '../utils/mixins' as *;

.partners-title {
  max-width: 612px;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 64px;
  @include media(sm) {
    font-size: 30px;
    margin-bottom: 40px;
  }
}

.partners-list {
  max-width: 1145px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
  gap: var(--gap);
  @include media(md) {
    grid-template-columns: repeat(2, 1fr);
  }
  &__item {
    background: var(--gray-100);
    border-radius: 20px;
    overflow: hidden;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media(md) {
      height: 80px;
      padding: 0 20px;
    }
  }
  &__btn {
    margin-top: 48px;
    @include media(md) {
      margin-top: 40px;
      width: 100%;text-align: center;
    }
  }
}

.partners-link-more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--accent-color);
  color: var(--text-on-accent);
  padding: 26px 30px;
  border-radius: 20px;
  margin-top: 30px;
  max-width: 432px;
  transition: 0.4s;
  border: 1px solid transparent;
  @include media(md) {
    padding: 19px 16px;
    margin-top: 16px;
  }
  &:hover {
    .btn__inner {
      &:first-child {
        transform: translateY(-100%);
      }
      &:last-child {
        transform: translateY(0%);
      }
    }
  }
  &__text {
    font-size: 24px;
    line-height: 130%;
    @include media(md) {
      font-size: 20px;
    }
  }
  &__icon {
    border: 2px solid var(--background);
    color: var(--accent-color);
    @include media(md) {
      width: 56px;
      height: 40px;
    }
  }
}
