@use '../utils/mixins' as *;

.projects {
  margin-top: 80px;
  @include media(md) {
    margin-top: 40px;
  }
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 30px;
  @include media(sm) {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  &__image {
    height: 0;
    padding-bottom: calc(450px / 675px * 100%);
    width: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__info {
    padding: 32px 0 0;
    @include media(md) {
      padding: 24px 0 0;
    }
  }
  &__meta {
    font-size: 20px;
    color: var(--gray-500);
    @include media(sm) {
      font-size: 16px;
    }
  }
  &__categories {
    &:after {
      content: '/';
      margin-left: 12px;
      margin-right: 12px;
      color: var(--gray-300);
    }
  }
  &__title {
    font-size: 32px;
    margin-top: 16px;
    @include media(sm) {
      margin-top: 10px;
      font-size: 24px;
    }
  }
}
