@use '../utils/mixins' as *;

.project-content {
	display: flex;
	align-items: flex-start;
	margin-top: var(--gap);
	@include media(md) {
		flex-direction: column;
	}
	&__gallery {
		flex: 1;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--gap);
	}
	&__item {
		border-radius: 20px;
		overflow: hidden;
		&:first-child {
			grid-column: span 2;
		}
		&:nth-child(4) {
			grid-column: span 2;
		}
		&--big {
			grid-row: span 2;
			@include media(md) {
				grid-column: span 2;
			}
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.sidebar-project {
	&__inner {
		display: flex;
		flex-direction: column;
		width: 440px;
		padding: var(--gap);
		border: 1px solid var(--gray-200);
		border-radius: 20px;
		margin-right: var(--gap);
		@include media(md) {
			width: 100%;
			margin-bottom: 16px;
			margin-right: 0;
		}
	}
	&__item {
		margin-bottom: 30px;
		&:last-child {
			margin: 0;
		}
	}
	&__heading {
		display: flex;
		.sidebar-project__item {
			margin-right: 40px;
			&:last-child {
				margin: 0;
			}
		}
	}
	&__title {
		font-size: 20px;
		margin-bottom: 16px;
	}
	&__content {
		color: var(--gray-500);
		line-height: 140%;
		&.opened {
			p {
				display: inline-block !important;
			}
		}
		p {
			margin-bottom: 1rem;
			overflow: hidden;
			&:not(:first-child) {
			}
		}
	}
	&__more {
		display: flex;
		align-items: center;
		cursor: pointer;
		margin-top: 30px;
		color: var(--accent-color);
		&.opened {
			.svg-icon {
				transform: scale(1, -1);
			}
		}
		&:hover {
			text-decoration: underline;
		}
		.svg-icon {
			margin-left: 8px;
		}
	}
}
