.projects {
  margin-top: 80px;

}

.projects-category {
  margin-bottom: 60px;
  display: flex;
  &__item {
    display: flex;
    align-items: center;
    margin-right: 12px;
    padding: 17px 32px;
    font-size: 18px;
    cursor: pointer;
    &:last-child {
      margin: 0;
    }
  }
  &__item-count {
    width: 28px;
    height: 28px;
    background: var(--gray-100);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-500);
    margin-left: 8px;
    border-radius: 50%;
    font-size: 14px;
  }
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 30px;
  &__image {
    height: 0;
    padding-bottom: calc(450px / 675px * 100%);
    width: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__info {
    padding: 32px 0 0;
  }
  &__meta {
    font-size: 20px;
    color: var(--gray-500);
  }
  &__categories {
    &:after {
      content: '/';
      margin-left: 12px;
      margin-right: 12px;
      color: var(--gray-300);
    }
  }
  &__title {
    font-size: 32px;
    margin-top: 16px;
  }
}

.projects-more-btn-wrapper {
  display: flex;
  justify-content: center;
}

.projects-more-btn {
  margin-top: 80px;
}