@use '../utils/mixins' as *;

.services-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--gap);

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &:hover {
      .svg-icon {
        transform: translate(3px, -3px);
      }
    }
  }
  &__info {
    transition: 0.46s cubic-bezier(0.65, 0, 0.35, 1);
  }
  &__item {
    grid-column: span 2;
    background: var(--background);
    color: var(--accent-color);
    border-radius: 20px;
    padding: var(--gap);
    height: 440px;
    clip-path: inset(0 0 0 0 round 20px);
    transition: clip-path 0.46s cubic-bezier(0.65, 0, 0.35, 1);
    @include media(md) {
      height: 260px;
      grid-column: span 3;
    }
    @include media(sm) {
      grid-column: span 6;
    }
    &:hover {
      clip-path: inset(
        calc(var(--gap) / 2) calc(var(--gap) / 2) calc(var(--gap) / 2) calc(var(--gap) / 2) round
          30px
      );
      .services-grid__image {
        transform: translate(var(--gap), var(--gap));
      }
      .services-grid__info {
        transform: translate(var(--gap), calc(var(--gap) * -1));
      }
    }
    &:nth-child(n + 4) {
      grid-column: span 3;
      @include media(sm) {
        grid-column: span 6;
      }
    }
  }
  &__image {
    width: 64px;
    height: 64px;
    transition: 0.46s cubic-bezier(0.65, 0, 0.35, 1);
    @include media(sm) {
      width: 50px;
      height: 50px;
    }
  }
  &__image-src {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__title {
    font-size: 32px;
    margin-bottom: 20px;
    @include media(sm) {
      font-size: 24px;
      margin-bottom: 9px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    .svg-icon {
      transition: 0.5s;
      margin-left: 8px;
    }
  }
}
