-
  locals.menu = [
    {
      name: 'Projekte',
      link: '/projects.html',
      hasCounter: false
    },
    {
      name: 'Leistungen',
      link: '/services.html',
      hasCounter: false
    },
    {
      name: 'Wir',
      link: '/about.html',
      hasCounter: false
    },
    {
      name: 'Partner',
      link: '/partners.html',
      hasCounter: false
    },
    {
      name: 'Karriere',
      link: '/career.html',
      hasCounter: true
    },
    {
      name: 'Kontakt',
      link: '#',
      hasCounter: false
    },
    {
      name: 'News',
      link: '#',
      hasCounter: false
    }
  ]

-
  locals.projects = [
    {
      title: 'Funktionsgebäude Duisburg',
      category: ['Kliniken' , 'Kliniken-2'],
      image: require('@/images/projects/1.jpg')
    },
    {
      title: 'Generalsanierung Wiesbaden',
      category: ['Kliniken2'],
      image: require('@/images/projects/2.jpg')
    },
    {
      title: 'Seniorenzentrum Ratingen',
      category: ['Wohnen im Alter'],
      image: require('@/images/projects/3.jpg')
    },
    {
      title: 'Seniorenzentrum Ratingen',
      category: ['Kliniken'],
      image: require('@/images/projects/4.jpg')
    },
    {
      title: 'Seniorenzentrum Ratingen',
      category: ['Wohnen im Alter'],
      image: require('@/images/projects/5.jpg')
    },
  ]