-
  locals.menu = [
    {
      name: 'Projekte',
      link: '/kfp/projects.html',
      hasCounter: false
    },
    {
      name: 'Leistungen',
      link: '/kfp/services.html',
      hasCounter: false
    },
    {
      name: 'Wir',
      link: '/kfp/about.html',
      hasCounter: false
    },
    {
      name: 'Partner',
      link: '/kfp/partners.html',
      hasCounter: false
    },
    {
      name: 'Karriere',
      link: '/kfp/career.html',
      hasCounter: true
    },
    {
      name: 'Kontakt',
      link: '/kfp/contacts.html',
      hasCounter: false
    },
    {
      name: 'News',
      link: '/kfp/news.html',
      hasCounter: false
    },
    {
      name: 'News Page',
      link: '/kfp/news-page.html',
      hasCounter: false
    },
    {
      name: 'Career page',
      link: '/kfp/career-page.html',
      hasCounter: false
    }
    ,
    {
      name: 'Thanks',
      link: '/kfp/thank-you.html',
      hasCounter: false

    },
    {
      name: '404',
      link: '/kfp/error-404.html',
      hasCounter: false

    },
    {
      name: 'Project page',
      link: '/kfp/project-page.html',
      hasCounter: false

    },
    {
      name: 'Policy',
      link: '/kfp/kfp/policy.html',
      hasCounter: false
    }
  ]

-
  locals.projects = [
    {
      title: 'Funktionsgebäude Duisburg',
      category: ['Kliniken' , 'Kliniken-2'],
      image: require('@/images/projects/1.jpg')
    },
    {
      title: 'Generalsanierung Wiesbaden',
      category: ['Kliniken2'],
      image: require('@/images/projects/2.jpg')
    },
    {
      title: 'Seniorenzentrum Ratingen',
      category: ['Wohnen im Alter'],
      image: require('@/images/projects/3.jpg')
    },
    {
      title: 'Seniorenzentrum Ratingen',
      category: ['Kliniken'],
      image: require('@/images/projects/4.jpg')
    },
    {
      title: 'Seniorenzentrum Ratingen',
      category: ['Wohnen im Alter'],
      image: require('@/images/projects/5.jpg')
    },
  ]