extends ../layouts/main

block content
  - locals.back = true 
  - locals.cClass = 'hero--tiny'
  - locals.image = require('@/images/secr.jpg')
  - locals.title = 'Sekretärin'
  include ../blocks/main-hero
  section.section.container
    - locals.sectionTitle = 'Alle Details auf einen Blick'
    include ../partials/section-heading
    .vacancy-content 
      .vacancy-content__item
        .vacancy-content__title Ihr Profil:
        ul.vacancy-content__list 
          li.vacancy-content__list-item Abgeschlossenes Studium der Architektur
          li.vacancy-content__list-item mind. 2 Jahre Berufserfahrung sind wünschenswert
          li.vacancy-content__list-item selbständige Arbeitsweise
          li.vacancy-content__list-item Teamfähigkeit und proaktive Kommunikation
          li.vacancy-content__list-item Führerschein für PKW 
      .vacancy-content__item
        .vacancy-content__title Ihre Aufgaben:
        ul.vacancy-content__list 
          li.vacancy-content__list-item Abgeschlossenes Studium der Architektur
          li.vacancy-content__list-item mind. 2 Jahre Berufserfahrung sind wünschenswert
          li.vacancy-content__list-item selbständige Arbeitsweise
          li.vacancy-content__list-item Teamfähigkeit und proaktive Kommunikation
          li.vacancy-content__list-item Führerschein für PKW 
      .vacancy-content__item
        .vacancy-content__title Wir bieten Ihnen:
        ul.vacancy-content__list 
          li.vacancy-content__list-item ein unbefristetes Arbeitsverhältnis und attraktives Arbeitsumfeld in einer beständigen Branche
          li.vacancy-content__list-item Langfristige Entwicklungsperspektiven sowie Möglichkeiten zur kontinuierlichen Weiterentwicklung Ihres Wissens und Ihrer Fähigkeiten
          li.vacancy-content__list-item Die Chance an interessanten Projekten im gesamten Spektrum des Gesundheitswesens mitzuarbeiten
          li.vacancy-content__list-item Eine attraktive Vergütung sowie 30 Urlaubstage, bei Erfordernis werden Überstunden ab der ersten Stunde mit Bezahlung oder Freizeit prinzipiell ausgeglichen
          li.vacancy-content__list-item ein angenehmes, persönliches Betriebsklima, effektiver Erfahrungsaustausch, Mitgestaltung in einem Unternehmen, das eigenverantwortliches Arbeiten honoriert 
          li.vacancy-content__list-item Handy zur dienstlichen Nutzung bei Bauleiter-Tätigkeiten
          li.vacancy-content__list-item Attraktiver und zentraler Bürostandort mitten im Essener Stadtteil Rüttenscheid, mit sehr guter verkehrstechnischer Anbindung und besten Voraussetzungen für eine gute Work-Life-Balance
          li.vacancy-content__list-item Motiviertes, sympathisches und hilfsbereites Team, das sich freut, Sie kennenzulernen
  section.section.container
    - locals.sectionTitle = 'Interessiert? Jetzt bewerben '
    - locals.sectionDesc = 'Wir werden Sie so schnell wie möglich zurückrufen. Unsere Manager arbeiten bereits daran'
    include ../partials/section-heading
    form.career-proposal__form(action="?")
      fieldset.career-proposal__grid-field.career-proposal__grid-field--secondary
        span.career-proposal__item
          label.career-proposal__label
            input.career-proposal__input(type="text" placeholder="Vorname*") 
        span.career-proposal__item
          label.career-proposal__label
            input.career-proposal__input.career-proposal__input--valid-error(type="text" placeholder="Nachname*") 
        span.career-proposal__item
          label.career-proposal__label
            input.career-proposal__input(type="email" placeholder="E-Mail*") 
        span.career-proposal__item
          label.career-proposal__label
            input.career-proposal__input(type="tel" placeholder="Telefon*") 
        span.career-proposal__item
          label.career-proposal__label
            input.career-proposal__input(type="tel" placeholder="Thema") 
        span.career-proposal__item
          label.career-proposal__label
            input.career-proposal__file.js-attached-files(type="file" multiple)
            span.career-proposal__file-placeholder 
              .career-proposal__file-placeholder-text  CV hochladen
              svg.career-proposal__clip-icon(width="18" height="18")
                use(xlink:href="sprite.svg#clip_sprite")
          span.attached-files-area 
            span.attached-files 
        span.career-proposal__item
          label.career-proposal__label
            textarea.career-proposal__input.career-proposal__textarea(placeholder="Nachricht")
      span.career-proposal__item.career-proposal__item--checkbox
        label.career-proposal__label
          input.career-proposal__checkbox(type="checkbox")
          span.career-proposal__checkbox-text Hiermit akzeptiere ich die 
            a.career-proposal__link(href="#") Datenschutzbedingungen 
      button.career-proposal__submit.btn.btn--primary Absenden

