extends ../layouts/main

block content
  include ../modules/vars
  section.section.section--top-small.container
    - locals.title = 'Projekte'
    - locals.desc = 'Wir werden Sie so schnell wie möglich zurückrufen. Unsere Manager arbeiten bereits daran'
    include ../partials/page-heading
    .projects 
      nav.category(aria-label="Project categories")
        button.category__item.btn.btn--empty Alle
          span.category__item-count 20
        button.category__item.btn.btn--empty Kliniken
          span.category__item-count 9
        button.category__item.btn.btn--empty Facharzt-Zentren
          span.category__item-count 12
        button.category__item.btn.btn--empty Verschiedenes
          span.category__item-count 12
        button.category__item.btn.btn--empty Wohnen im Alter
          span.category__item-count 12
      .projects-list
          include ../partials/project-item
      .load-more-btn-wrapper
        button.load-more-btn.btn.btn--empty Mehr laden
